/*----------------------- INDEX CSS--------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.bodyIndex {
    display: grid;
    grid-template-columns: 1fr;
   /* grid-template-rows: 80px 50px 700px 500px 150px;*/
   grid-auto-rows:max-content ;
    grid-template-areas:
        "headerIndex"
        "navBar"
        "mainIndex"
        "asideIndex"
        "footerIndex";
}

.headerIndex {
    background-color: #dcc69c;
    color: #93435b;
    font-family: "Montserrat";
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: headerIndex;
}

.navBar {
    background-color: #93435b;
    grid-area: navBar;
}

.navBar ul {

    color: white;
    font-family: "Montserrat";
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}

.navBar a {
    color: white;
    padding: 0 10px;
}

.navBar a:hover {
    background-color: white;
    color: black;
}

/*--------------Box Main-------------*/

.mainIndex {
    grid-area: mainIndex;
    background-color: #e5bfbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #78374b;
}

.mainIndex div {
    padding: 0.5rem;
}
.promo1 img{
width: 300px;
}
.promo2 img{
 width: 300px;
}
.turnos img{
width: 300px;
}
.tratamientos img{
 width: 300px;
}

.asideIndex {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: x-large;
    color: #78374b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: asideIndex;
}

.asideIndex div {
    padding: 0.5rem;
}

.mimate {
    border: solid #78374b;
    font-size: medium;
}

.footerIndex {
    grid-area: footerIndex;
    background-color: #764d3e;
    color: white;
    font-family: "Montserrat";
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerIndex p {
    font-size: 13px;
    text-align: center;
    padding: 10px 40px;
}

.footerIndex ul {
    line-height: 2rem;
    font-size: 15px;
}

.footerIndex a {
    color: white;
}

@media (min-width: 768px) {
    .bodyIndex {
        display: grid;
        grid-template-columns: 50% 50%;
        /*grid-template-rows: 80px 53px 680px 150px;*/
        grid-auto-rows: max-content;
        grid-template-areas:
            "headerIndex headerIndex"
            "navBar navBar"
            "mainIndex asideIndex"
            "footerIndex footerIndex";
    }
.tituloPromo{
    font-size: x-large;
}
.mimate{
    font-size: x-large;
}
    .navBar ul {
        font-size: 18px;
    }

    .asideIndex {
        background-color: #e5bfbc;
        justify-content: space-between;
    }
    .promo1 img{
        width: 330px;
        }
        .promo2 img{
         width: 330px;
        }
        .turnos img{
        width: 330px;
        margin-top: 2.5rem;
        }
        .tratamientos img{
         width: 330px;
        }
        .footerIndex p{
            font-size: 18px;
        }
        .footerIndex a {
            font-size: 20px;
        }

}

@media (min-width: 1200px) {

    .bodyIndex {
        display: grid;
        grid-template-columns: 250px auto;
        grid-template-rows: 80px 400px 400px 150px;
        grid-template-areas:
            "headerIndex headerIndex"
            "navBar mainIndex"
            "navBar asideIndex"
            "footerIndex footerIndex";
    }

    .navBar ul {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        justify-content: space-around;
        height: 100%;
    }

    .mainIndex {
        flex-direction: row;
        justify-content: space-around;
    }

    .mainIndex div {
        font-size: 45px;
    }

    .asideIndex {
        flex-direction: row;
        justify-content: space-around;
    }

    .mimate {
        font-size: 30px;
    }

}